.title {
    margin-top: 20px;
}
.orderContainer { 
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
}

.orderWrapper {
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 200px;
}


